<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quiz de Gestão Pública</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="quiz-container">
    <h1>Quiz de Gestão Pública - Tecnólogo (OACP)</h1>
    <div id="question-container"></div>
    <div id="feedback"></div>
    <div class="controls">
      <button id="next-btn">Próxima</button>
    </div>
    <div class="score" id="score"></div>
  </div>

  <script src="../js/qustion.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>
